.selectionCard {
    display: flex;
    flex-direction: column;
    width: 205px;
    max-height: 360px;
    background-color: white;
    padding-inline: 0.5rem;
    padding-top: 5px;
    padding-bottom: 10px;
    border-radius: 10px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    border: rgba(0, 0, 0, 0) 2px solid;
    transition-property: transform, translate;
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition-duration: 50ms;
}

.selectionCard:hover {
    border: #58C8F0 2px solid;
    transform: translate(0, -1rem);
}

.selectionCard img {

    width: 100%;
    background-color: #F2F2F2;
    border-radius: 5px;
    padding-block: 1rem;
}

.cardInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 8%;
}

.cardInfo > * {
    width: 100%;
}

.pokemonNumber {
    font-size: 1rem;
    margin-block: 5px;
    font-weight:600;
    text-align: left;
    color: grey;
}

.cardInfo h4{
    font-size: 2rem;
    margin-block: 5px;
    font-weight: 500;
    color: #313131;
    text-align: left;
    text-overflow: ellipsis;
}

.types {
    display: flex;
    gap: 4px;
}

.typeIcon {
    color: white;
    -webkit-text-stroke: 3px black;
    paint-order: stroke fill;
    background-color: white;
    border-radius: 10px;
    display: block;
    width: 5rem;
    text-align: center;
    font-style: normal;
    border: 1px black solid;
    font-family: "Baloo 2", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
}

.type_flying {
    background: linear-gradient(180deg,#58C8F0 50%, #B8B8A8 50%);
}

.type_psychic {
    background-color: #F838A8;
}

.type_normal {
    background-color: #B8B8A8;
}

.type_fighting {
    background-color: #F87070;
}

.type_poison {
    background-color: #E090F8;
}

.type_ground {
    background: linear-gradient(180deg, #E0E000 50%, #C8A048 50%);
}

.type_rock {
    background-color: #C8A048;
}

.type_bug {
    background-color: #A0C888;
}

.type_ghost {
    background-color: #A870F8;
}

.type_steel {
    background-color: #B8B8D0;
}

.type_fire {
    background-color: #F89030;
}

.type_water {
    background-color: #6898F8;
}

.type_ice {
    background-color: #30D8D0;
}

.type_grass {
    background-color: #90E880;
}

.type_electric {
    background-color: #E0E000;
}

.type_dragon {
    background: linear-gradient(180deg, #6898F8 50%, #F87070 50%);
}

.type_dark {
    background-color: #908888;
}

.type_fairy {
    background-color: #FFAAFF;
}